/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset css end */

 /* 解决高度塌陷 */
 .clearfix {
  *zoom: 1;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*  */

.header-nav {
  height: 60px;
  width: 100%;
  background-color: #24292e;
}

label.logo {
  float: left;
  line-height: 60px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 0 100px;
}

label.icon-menu {
  font-size: 14px;
  color: white;
  line-height: 60px;
  cursor: pointer;
  display: none;
  float: right;
  margin-right: 20px;
}

label a {
  color: white;
  text-decoration:none;
}

label a:hover {
  color: white;
  text-decoration:none;
}

.header-nav ul {
  float: right;
  margin-right: 20px;
}

.header-nav ul li {
  display: inline-block;
  list-style: none;
  line-height: 60px;
  color: white;
  margin: 0 10px;
  font-size: 12px;
  text-decoration:none;
}

.header-nav ul li a:visited {
  color: white;
  text-decoration:none;
}

.header-nav ul li a:hover {
  color: #ccc;
  text-decoration:none;
}

#checkbtn {
  display: none;
}


/* footer */

@media screen and (max-width: 952px) {
  label.logo {
    padding-left: 50px;
  }
}

@media screen and (max-width: 858px) {
  label.logo {
    padding-left: 20px;
  }
  label.icon-menu {
    display: block;
  }
  .header-nav ul {
    position: fixed;
    background-color: #24292e;
    top: 60px;
    left: -100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    z-index: 999;
    transition: all .3s;
  }
  .header-nav ul li {
    display: block;
    line-height: 50px;
    font-size: 14px;
  }
  .header-nav .checkbtn:checked {
    display: block;
  }
  #checkbtn:checked ~ ul {
    left: 0;
  }
}
