.main {
    width: 1320px;
    margin: 0 auto;
}

.main .classfy {
    width: 100%;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0 2px 15px -15px black;
}

.main .classfy ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main .classfy ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 14px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.main .classfy ul li .active {
    color: #c80;
    position: relative;
}

.main .classfy ul li .active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    margin: auto;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background-color: #c80;
}

.main .classfy ul li a {
    color: black;
    text-decoration: none;
}

.main .classfy ul li a:hover {
    color: #c80;
}

/* card item */

.main .content {
    width: 100%;
    margin-top: 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* header hight & footer height & margin */
    min-height: calc(100vh - 60px - 180px);
}

.main .content::after {
    content: "";
    flex: auto;
}

.main .content .card {
    display: inline-block;
    width: 20%;
    padding: 5px 5px;
}

.main .content .card a {
    display: block;
    width: 100%;
}

.main .content .card a .course-main-pic {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.main .content .card a .course-main-pic img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all .9s;
}

.main .content .card a .course-main-pic img:hover {
    transform: scale(1.2);
}

.main .content .card .course-main-pic ul {
    position: absolute;
    left: 4px;
    bottom: 8px;
}

.main .content .card a .course-main-pic li {
    display: inline-block;
    color: #ccc;
    padding: 5px 8px;
    border-radius: 3px;
    margin-left: 3px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.main .content .card a {
    color: black;
    text-decoration: none;
}

.main .content .card a .course-title {
    margin: 5px 10px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main .content .card a .course-status {
    width: 100%;
    padding: 5px 5px;
    height: 20px;
    font-size: 12px;
}

.main .content .card a .course-status .course-coin,
.main .content .card a .course-status .course-use {
    display: inline-block;
    color: #93999f;
    line-height: 20px;
}

.main .content .card a .course-status .course-coin span,
.main .content .card a .course-status .course-use span {
    margin-right: 4px;
    vertical-align: baseline;
}

.main .content .card a .course-status .course-coin:hover,
.main .content .card a .course-status .course-use:hover {
    color: black;
}

.main .content .card a .course-status .course-coin {
    float: right;
}

@media screen and (max-width: 1320px) {
    .main {
        width: 100%;
    }
}

@media screen and (max-width: 952px) {
    .main .classfy ul li {
        line-height: 40px;
        font-size: 12px;
    }
    .main .classfy ul li .active::after {
        width: 8px;
        height: 3px;
        top: 20px;
    }

    .main .content .card {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .main .content .card {
        width: 33.3%;
    }
}

@media screen and (max-width: 686px) {
    .main .content .card {
        width: 50%;
    }
}

@media screen and (max-width: 414px) {
    .main .content .card {
        width: 100%;
    }
}